<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %C:%L - %m%n"/>
        </layout>
    </appender>

    <appender name="rollbar" class="com.github.rollbar.log4j.RollbarAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %C:%L - %m%n"/>
        </layout>
        <param name="enabled" value="true"></param>
        <param name="apiKey" value="[YOUR API KEY]"></param>
        <!--register your rollbar.com account, get Project Access Tokens of post_server_item is apiKey -->
        <param name="environment" value="production"></param>
        <param name="level" value="error"></param>
    </appender>

    <root>
        <level value="INFO"/>
        <appender-ref ref="console"/>
        <appender-ref ref="rollbar"/>
    </root>
</log4j:configuration>